@import "styles/breakpoints";

.botao {
  background-color: #041833;
  border-radius: 36px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 20px 50px;
  &:disabled {
    cursor: not-allowed;
    background-color: #020611;
    opacity: 0.5;
  }

  @media (max-width: $mobile-sm) {
    padding: 20px;
    flex: 1;
    width: 100%;
    align-self: center;
  }
}

.botao-anunciar {
  @media (max-width: $mobile-sm) {
    width: auto;
  }
}
