@import "styles/breakpoints";

.footer {
  align-items: center;
  background-image: url("../../assets/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: center;
  padding: 0 70px;
  width: 100%;
  @media (max-width: $tablet) {
    padding: 0;
  }
  div {
    flex: 1;
    display: flex;
    gap: 50px;
    justify-content: left;

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }
  span {
    color: white;
    font-size: 18px;
    text-align: center;
  }
}
